@keyframes pulse {
    0%{
        filter: drop-shadow(0 0 4px purple);
    }
    50%{
        filter: drop-shadow(0 0 15px purple);
    }
    100%{
        filter: drop-shadow(0 0 4px purple);
    }
}

.pulse{
    animation: pulse 0.8s infinite 0s ;
}
